/* CSS Variables */
:root {
  --primary-color: #7d9ecc;
  --hover-color: #6e8fc0;
  --background-color: #fafafa;
  --header-bg: rgba(255, 255, 255, 0.95);
  --text-color: #212529;
  --white: #ffffff;
  --accent-bg: #e9ecef;
  --nav-bg: #343a40;
  --nav-text: #ffffff;
  --highlight-color: #ffc107;
}

/* Global Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  overflow-x: hidden;
}

/* Header */
header {
  background: var(--header-bg);
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-content .logo {
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.site-title {
  font-size: 1.5rem;
  font-weight: 600;
}

/* Hamburger - visible on mobile only */
.hamburger {
  cursor: pointer;
  border: none;
  background: none;
  color: var(--highlight-color);
  font-size: 2rem;
}

.hamburger:hover {
  background-color: var(--highlight-color);
  color: var(--white);
}

/* Navigation */
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

nav a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

/* Header links hover effect */
nav a:hover {
  text-decoration: underline;
  text-decoration-color: var(--highlight-color);
}

.social-icons {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 1rem;
}

.social-icon-img {
  width: 24px;
  height: 24px;
}

/* Mobile Menu Toggle */
.menu-expanded nav {
  display: flex;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

/* Hero Section */
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  animation: fadeIn 2s ease-in;
  text-align: left;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--white);
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 20% 100%, 30% 50%);
  z-index: -1;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: var(--text-color);
  padding-right: 50%;
}

.hero-content img {
  position: absolute;
  top: -70px;
  right: 0;
  max-width: 50%;
  height: auto;
  align-items: center;
}

/* Adjust h1 and paragraph sizes */
.hero-content .slogan {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--highlight-color);
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.hero-content p span {
  color: var(--highlight-color);
}

a {
  text-decoration: none;
}

/* Global Button Style */
button,
.reviewForm, .review-button {
  padding: 0.6rem 1.2rem;
  border: 2px solid var(--primary-color);
  border-radius: 6px;
  background: transparent;
  color: var(--primary-color);
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

button:hover, .review-button:hover {
  background: var(--primary-color);
  color: var(--white);
}

/* Sections */
section {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 6rem auto 2rem;
}

h2 {
  margin-bottom: 1rem;
  text-align: center;
  color: var(--primary-color);
}

p {
  margin-bottom: 1rem;
  text-align: justify;
}

/* Metrics */

.metrics {
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  width: 100%;
}

.scroll-track {
  display: inline-block;
  padding-left: 100%;
  animation: scroll-left 15s linear infinite;
  margin-top 0;
  margin-bottom: 2rem;
}

.grow {
  display: inline-block;
  margin-right: 3rem;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.metrics:hover {
    cursor: pointer;
}

.metrics:active .scroll-track {
  animation-play-state: paused;
  cursor: pointer;
}
/*
.metrics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  background: #dddddd;
  padding: 2rem;
}

.grow {
  flex: 1;
  min-width: 200px;
  
}
*/
.grow img {
  width: 15%;
  height: auto;
}

.growth-fig {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--highlight-color);
  margin: 0.5rem 0;
}

/* Project Cards */
#projects {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
}

.project-container {
  display: grid;
  flex-direction: column;
  gap: 2rem;
}

.project-card {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background: var(--white);
  padding: 1.5rem;
  border-radius: 12px;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15),
    -5px -5px 10px rgba(255, 255, 255, 0.5);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card img {
  width: 100%;
  max-width: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.project-card div {
  flex: 1;
}

#about {
  margin: 1rem;
  font-weight: bold;
  background: var(--white);
  border-radius: 1.2rem;
  padding: 1.5rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.service,
.approach {
  background: var(--white);
  padding: 2rem 1rem;
  margin-bottom: 1.5rem;
  border-radius: 1.2rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.service:hover,
.approach:hover {
  box-shadow: 2px 2px 10px var(--highlight-color);
}

.service input,
.approach input {
  display: none;
}

.service label,
.approach label {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.5s ease;
}

.service label:hover,
.approach label:hover {
  span {
    transform: rotate(90deg);
    color: var(--highlight-color);
  }
}

.service-content,
.approach-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  color: #444;
}

input:checked + label + .service-content,
input:checked + label + .approach-content {
  max-height: 40rem;
  padding: 0.3rem 0;
}

/* Contact Form */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  margin: auto;
}

input,
textarea {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  font-size: 1rem;
}

label {
  font-weight: 600;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

#successMessage {
  color: green;
  margin-top: 1rem;
}

/* REVIEWS SECTION */
#reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews {
  list-style-type: none;
  background-color: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.reviews:active, .reviews:hover {
  box-shadow: 2px 2px 10px var(--highlight-color);
  cursor: pointer;
}

.reviews li {
  display: flex;
  flex-direction: column;

}

.reviews li > div {
  position: relative;
  display: flex;
}

.li-profile {
  width: 7rem;
}

.li-logo {
  clip-path: circle(40% at 50% 51%);
  width: 3rem;
  position: absolute;
  bottom: -5px;
  left: 60px;
}

.li-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dev-name {
  font-weight: bold;
  font-size: 1.3rem;
  margin-left: 30px;
  margin-bottom: 0;
}

.project-name {
  margin-left: 30px;
}


/* FAQ SECTION */
.faq-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq-item {
  background: var(--white);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.faq-header h3 {
  font-size: 1rem;
  color: var(--primary-color);
  margin-right: 1rem;
}

.faq-toggle {
  border: none;
  background: none;
  font-size: 1.5rem;
  color: var(--highlight-color);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.faq-answer {
  display: none;
  padding: 0 1rem 1rem;
  line-height: 1.5;
}

.faq-item.open .faq-answer {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Footer */
footer {
  color: var(--text-color);
  text-align: center;
  padding: 1rem;
}

footer div {
  margin-bottom: 30px;
}

.bottom-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 0.5rem;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  nav {
    display: none;
    flex-direction: column;
    align-items: center;
    background: var(--header-bg);
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 1rem 0;
  }

  nav ul {
    flex-direction: column;
    gap: 1rem;
  }

  .hero-bg {
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%, 30% 50%, 30% 80%);
  }

  .hero-content {
    padding-right: 0%;
  }

  .hero-content img {
    max-width: 100%;
    position: absolute;
    top: -16rem;
    right: 0;
    height: auto;
    align-items: center;
  }
  .hero-content .slogan {
    font-size: 0.8rem;
  }
  .hero-content p {
    font-size: 1.2rem;
  }
  .hero-buttons {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
  main section {
    padding: 2rem 1rem;
  }
  button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
  .project-card {
    flex-direction: column;
    align-items: flex-start;
  }
  .project-card img {
    max-width: 100%;
  }
}

@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
}
